.chatBotWrapper{
    width: 15%;
    height: 600px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    bottom: 0;
    border: 1px gray solid;
    transition: height 0.5s ease;
}
.chatBotHeader{
    flex: 1;
    border-bottom: 1px gray solid;
    background-color: #ff947f;
}
.chatBotBody{
    flex: 4;
    border-bottom: 1px gray solid;
}
.chatBotFooter{
    flex: 1;
}
.chatBotClosed{
    height: 50px;
}
.inactiveHeader{
    background-color:lightgray;
}
.hide{
    display: none !important;
}

@media (max-width:641px)  {
    .chatBotWrapper{
        width: 100%;
        right: 0px;
        bottom: 0;
    }
}